.header{
    background-color: black;
    height: 150px;
    width: 100%;
    color: rgb(3, 2, 2);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    position: sticky;
    border: 1px solid white;
    
}